/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* rest */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* loginpage */


body {
  font-family: sans-serif;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.login.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 14px;
}

.box {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  padding-bottom: 10px;
  flex-grow: 1;
}

.heading {
  margin: 22px auto 12px;
  background-image: url("https://res.cloudinary.com/dpx0kwaoi/image/upload/v1638262503/b20f2a3cd7e4_w3y1fb.png");
  background-position: -98px 0;
  height: 51px;
  width: 177px;
  overflow: hidden;
}

.field {
  margin: 10px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
}

.login input {
  padding: 9px 0px 7px 9px;
  font-size: 12px;
  width: 16rem;
  height: 1.2rem;
  outline: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #efefef;
}

/* label intial position*/

label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding-bottom: 15px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;
  font-size: 14px;
  color: #999;
  padding-top: 6px;
}

/* hiding placeholder in all browsers */


/* hiding  placeholder in mozilla */


/* label final position */
.login input:not(:placeholder-shown) + label {
  transform: translateY(0);
  font-size: 11px;
}

/* input padding increases if placeholder is not shown */
.login input:not(:placeholder-shown) {
  padding-top: 14px;
  padding-bottom: 2px;
}

.login-button {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-top: 6px;
}

.separator .line {
  height: 1px;
  width: 40%;
  background-color: #dbdbdb;
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fb-login-btn {
  margin: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 11px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  background: transparent;
}

.fb-icon {
  color: #385185;
  font-size: 1rem;
  padding-right: 1px;
}

.forgot-password {
  padding: 0.5rem;
  font-size: 11px;
  color: #003569;
}

.signup {
  color: #3897f0;
  font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.session-bar {
  display: flex;
  flex-direction: row;
}

.signup-btn {
  background-color: rgba(var(--d69,0,149,246),1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(var(--eca,255,255,255),1);
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
  width: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  line-height: 18px;
  z-index: 2;
}

.login-btn {
  font-size: 14px;
  margin-left: 15px;
  color: rgba(var(--d69,0,149,246),1);
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  z-index: 2;
}


/* nav */

*:focus{
    outline: none;
}

.navbar body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.brand-img{
  height: 100%;
  }

.search-box-wrapper {
  height: 362;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 375px;
  display: flex;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.search-box-container {
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  height: 36px;
  min-width: 125px;
  width: 268px;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.search-box{
  background: rgba(var(--bb2,239,239,239),1);
  font-size: 16px;
  border: 0;
  padding: 3px 32px;
  z-index: 2;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  line-height: 18px;
  display: inline-block;
  text-align: start;
  cursor: text;
  z-index: 3;
}

.search-box-content {
  display: flex;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column; 
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}



.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(142, 142, 142);
  fill: rgb(142, 142, 142);
  height: 16px;
  width: 16px;
  z-index: 4;
}

.search-word {
  line-height: 25px;
  display: inline-block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.search-box::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.namecard {
  padding: 8px 16px 8px 16px;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  vertical-align: baseline;
  cursor: pointer;
}

.no-found {
  display: flex;
  font-size: 14px;
  color: rgba(var(--f52,142,142,142),1);
  justify-content: center;
  padding: 15px;
  height: 100%;
  text-align: center;
  align-items: center;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 150px;
  flex-shrink: 0;
  position: relative;
}

.namecard .profile-pic {
  width: 44px;
  height: 44px;
  left: -20px;
  margin: 0 12px 0 0;
}

.namecard .name {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.search-username-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  cursor: pointer;
}


.search-username {
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  align-items: stretch;
  border: 0 soild #000;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0;
  white-space: nowrap;
}

.search-clear {
  position: absolute;
  top: 7.5px;
  left: 235px;
  background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png);
  background-position-x: -380px;
  background-position-y: -96px;
  background-size: 440px 411px;
  height: 20px;
  width: 20px;
  z-index: 4;
}

.fullname {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(var(--f52,142,142,142),1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 4px 0 -4px;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0;
  position: relative;
}
/* Profile drop down */

.profile-drop-down {
  position: absolute;
  top: 40px;
  width: 201px;
  height: 193px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  background-color: #ffff;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  right: -1%;
}

.profile-drop-down ul {
  display: flex;
  flex-direction: column;
}

.profile-drop-down ul li {
  padding: 10px 15px;
  list-style: none;
}

.profile-drop-down ul li:hover {
  background-color: #fafafa;
}

.profile-drop-down ul li a {

  margin-left: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #2b2b2b;
  vertical-align: text-top;
}

.profile-drop-down .logout {
  border-top: 1px solid #dbdbdb;
}
.profile-drop-down .logout a{
  margin-left: 0px;
}

/* Search Bar */

.search-drop-down {
  position: absolute;
  top: 50px;
  width: 375px;
  height: 362px;
  padding: 12px 0 0 0;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  background-color: #ffff;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}

.nav-items{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 22px;
    position: relative;
}

.nav-icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.error_messages {
  margin-bottom: 0.5rem;
  inline-size: 16rem;
  overflow-wrap: break-word;
  font-size: 14px;
  color: rgba(201, 14, 76, 0.8);
  text-align: center;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
    background-image: url(https://res.cloudinary.com/dpx0kwaoi/image/upload/v1641137255/CAE998C8-98A9-4117-9683-336964A87F80_mdwfu6.jpg);
    background-size: cover;
}

/* story */

.main{
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wrapper{
  width: 70%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.left-col{
  display: flex;
  flex-direction: column;
}

.status-wrapper{
  width: 100%;
  height: 120px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}


.status-wrapper::-webkit-scrollbar{
  display: none;
}

.status-card{
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profile-pic{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%)
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px soild #fff;
}

.username {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5)
}

/* postindex */

.post {
  width: 100%;
  height: auto;
  background: #fff;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 40px;
}

.info {
  width: calc(100% - 40px);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .username:hover {
  text-decoration: underline;
}

.info .options {
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.likes {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.description-post span {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.description-post {
 margin-bottom: 10px;
 margin-top: 5px;
}

.description-post-username:hover {
  text-decoration: underline;
}

.description-comment span {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.description-comment {
  margin-bottom: 5px;
  margin-top: 5px;
}

.description-comment-username:hover {
  text-decoration: underline;
}

.post-time {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dfdfdf;
}

.comment-wrapper .icon {
  height: 30px;
}


.comment-box {
  background-color: transparent;
  margin-left: 10px;
  width: 80%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-delete {
  background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png);
  background-position-x: -380px;
  background-position-y: -96px;
  background-size: 440px 411px;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  display: inline-block;
  position: absolute;
}

.comment-btn, 
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}

.action-btn:hover, .comment-btn:hover {
  cursor: pointer;
}



.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon{
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.reaction-wrapper .icon.save {
  margin-left: auto;
  margin-right: 0;
}

.post-like {
  animation-duration: 1000ms;
  animation-name: post-like-animation;
  animation-timing-function: ease-in-out;
}

@keyframes post-like-animation { 
  0% { opacity:0; transform:scale(0); }
  15% { opacity:.9; transform:scale(1.2); }
  30% { transform:scale(.95); }
  45%,
  80% { opacity:.9; transform:scale(1); }
}

/* createPost */


.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 80vh;
  max-height: calc(100% - 40px);
  background: #fff;
  width: 70vw;
  margin: 20px;
  z-index: 3;
  border-radius: 10px;
}

.modal.header{
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  padding: 4px 8px;
  height: 43px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.modal.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.header-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: 0 0;
  border: 0;
  cursor: pointer;
  
}

.modal.header-back-container {
  margin-left: 8px;
  flex: 0 0 auto;
  display: flex;
  border: 0 solid #000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 0;
  padding: 0;
  position: relative;
}

.modal.header-back {
  display: block;
  position: relative;
  color: rgb(38, 38, 38);
  fill: rgb(38, 38, 38);
  height: 24;
  width: 24;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.modal.header-share-container {
  padding: 8px;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
}

.modal.header-share {
  border: 0;
  color: rgba(var(--d69,0,149,246),1);
  display: inline;
  position: relative;
  background: 0 0;
  font-weight: 600;
  cursor: pointer;
}

.modal.bottom {
  height: calc(100% - 29px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
}

.modal.bottom-left {
  height: auto;
  width: 66.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgray;
}

.modal.image {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.modal.bottom-right {
  display: flex;
  box-sizing: border-box;
  height: auto;
  width: 33.3%;
  border: 0 soild #000;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  position: relative;
}

.modal.username-container {
  display: flex;
  margin: 18px 16px 14px 16px;
  align-items: stretch;
  border: 0 soild #000;
  box-sizing: border-box;
  flex-direction: row;
}

.modal.username {
  display: flex;
  border: 0 soild #000;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  flex: 0 0 auto;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  margin: 0;
}

.modal.profile-pic-container {
  display: flex;
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin-right: 12px;
  padding: 0;
  position: relative;
}

.modal.profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.modal.text-area {
  height: 24px !important;
  background: 0 0;
  border: 0;
  overflow: auto;
  padding: 0 16px;
  resize: none;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-height: 168px;
  color: rgba(var(--i1d,38,38,38),1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  text-rendering: auto;
  display: inline-block;
  text-align: start;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  justify-content: flex-start;
  vertical-align: top;
}



.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  z-index: 2;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}


.modal.modal-picture {
  width: 50%;
}

input[type="file"] {
  display: none;
}

.post-create-btn {
  border: 1px soild transparent;
  background-color: rgba(var(--d69,0,149,246),1);
  border-radius: 4px;
  color: rgba(var(--eca,255,255,255),1);
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  width: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  z-index: 4;
  margin-top: 20px;
}

.post-create-container {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
  margin: 0;
  position: relative;
  vertical-align: baseline;
}


/* usershow */

.user {
  font-size: 10px;
}

.user h1, button, span, li, p {
  font-family: "Open Sans", Arial, sans-serif;
}

.user *, .user *::before, .user *::after {
  box-sizing: border-box;
}

.user body {
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3em;
}

/* .user img {
  display: block;
} */

.user .container {
  max-width: 93.5em;
  margin: 0 auto;
  padding: 0 2em;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5em auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px,1px);
}

.user .profile {
  padding: 5em 0;
}

.user .profile::after {
  content: "";
  display: block;
  clear: both
}

.user .profile-image {
  float: left;
  width: calc(33.33% - 1em);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
}

.user .profile-pic img {
  border-radius: 50%;
}

.user .profile-user-settings,
.user .profile-stats,
.user .profile-bio {
  float: left;
  width: calc(66.666% - 2em);
}

.user .profile-user-settings {
  margin-top: 1.1em;
}

.user .profile-user-name {
  display: inline-block;
  font-size: 3.2em;
  font-weight: 300;
}

.following-btn-wrapper {
  flex: 1 0 auto;
  margin-right: 8px;
  margin-left: 20px;
  display: block;
  position: relative;
}

.following-btn-container {
  height: 100%;
  padding: 0 24px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(var(--i1d,38,38,38),1);
  border: 1px solid rgba(var(--d69,0,149,246),1);
  border: 1px solid rgba(var(--d69,0,149,246),1);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  margin-left: 20px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  height: 30px;
  width: 74px; 
  border-color: #dbdbdb;
}

.following-btn {
  height: 28px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  color: rgba(var(--i1d,38,38,38),1);
}

.following-btn-img {
  background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_77929eccc37e.png/77929eccc37e.png);
  background-size: 569px 521px;
  background-position: -520px -475px;
  height: 12px;
  width: 24px;
}

.user .profile-edit-btn {
  font-size: 1.4em;
  line-height: 1.8;
  border: 0.1em soild #dbdbdb;
  border-radius: 0.3em;
  padding: 0 2.4em;
  margin-left: 2em;
}

.user .profile-settings-btn {
  font-size: 2em;
  margin-left: 1em;
}

.user .profile-stats {
  margin-top: 2.3em;
}

.user .profile-stats li {
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.5;
  margin-right: 4em;
  cursor: pointer;
}

.user .profile-stats li:last-of-type {
  margin-right: 0;
}

.user .profile-bio {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 23px;
}


.user .profile-real-name,
.user .profile-state-count,
.user .profile-edit-btn {
  font-weight: 600;
}

.select-type {
  align-items: center;
  border-top: 1px solid rgba(var(--b38,219,219,219),1);
  color: #8e8e8e;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.icon-container {
  align-items: center;
  color: rgba(var(--i1d,38,38,38),1);
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.icon-container:not( :last-child){
  margin-right: 60px;
  align-items: center;
  color: rgba(var(--i1d,38,38,38),1);
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
}

.icon-container .content {
  color: rgba(var(--i1d,38,38,38),1);
}

.icon-container .icon-word {
  margin-left: 6px;
  font-size: 12px;
  color: rgb(142, 142, 142);
}


.icon-container.icons {
  display: block;
  position: relative;
  color: rgb(38, 38, 38);
  fill: rgb(38, 38, 38);
  height: 12px;
  width: 12px;
}

.no-post-container {
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  display: flex;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.no-post {
  margin-top: 60px;
  margin-right: 44px;
  margin-left: 44px;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.camera-icon-container {
  display: inline-flex;
  align-items: center;
  background: 0 0;
  border-radius: 50%;
  border-style: solid;
  justify-content: center;
  position: relative;
  width: 62px;
  height: 62px;
  border-color: #262626;
}

.camera-icon {
  
  background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_77929eccc37e.png/77929eccc37e.png);
  background-position-x: -252px;
  background-position-y: -426px;
  background-size: 569px 521px;
  height: 24px;
  width: 24px;
}

.no-post-word-container {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}

.no-post-word {
  display: flex;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
}

/* gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1em -1em;
  padding-bottom: 3em;
}

.gallery-item {
  position: relative;
  flex: 1 0 22em;
  height: 27em;
  margin: 1em;
  color: #fff;
  cursor: pointer;
}

.gallery-like-icon {
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png");
  background-position-x: -382px;
  background-position-y: -223px;
  background-size: 440px 411px;
  height: 19px;
  width: 19px;
  margin-right: 7px;
}

.gallery-comment-icon {
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png");
  background-position-x: -382px;
  background-position-y: -263px;
  background-size: 440px 411px;
  height: 19px;
  width: 19px;
  margin-right: 7px;
}

.gallery-item-empty {
  position: relative;
  flex: 1 0 22em;
  border: none;
  border-width: 0; 
  border: 0; 
  margin: 1em;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7em;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2em;
}

.gallery-item-type {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2.5em;
  text-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* .loader {
  width: 5em;
  height: 5em;
  border: 0.6em solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
} */


@media screen and (max-width: 40em) {
    .user .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4em 0;

    }

    .user .profile::after {
        display: none;
    }

    .user .profile-image,
    .user .profile-user-settings,
    .user .profile-bio,
    .user .profile-stats {
        float: none;
        width: auto;
    }

    .user .profile-image img {
        width: 7.7em;
    }

    .user .profile-user-settings {
        flex-basis: calc(100% - 10.7em);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    .user .profile-user-name {
        display: inline-block;
        font-size: 3.2rem;
        font-weight: 300;
    }

    .profile-edit-btn {
      font-size: 1.4rem;
      line-height: 1.8;
      border: 0.1rem solid rgb(133, 133, 133);
      border-radius: 0.3rem;
      padding: 0 2.4rem;
      margin-left: 2rem;
    }

    .follow-btn {
      background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_77929eccc37e.png/77929eccc37e.png);
      background-position-x: -520px;
      background-position-y: -475px;
      background-size: 569px 521px;
      height: 12px;
      width: 24px;
    }


    .user .profile-bio {
        font-size: 1.4em;

    }

    .user .profile-edit-btn,
    .user .profile-bio,
    .user .profile-stats {
        flex-basis: 100%;
    }

    .user .profile-stats {
        order: 1;
        margin-top: 1.5em;
    }

    .user .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2em 0;
        border-top: 0.1em solid #dadada;
        border-bottom: 0.1em solid #dadada;
    }

    .user .profile-stats li {
        font-size: 1.4em;
        flex: 1;
        margin: 0;
    }

    .user .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

emove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3em;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
        grid-gap: 2em;
    }

    
    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5em;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1em;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

/* UserIndex */

.right-col {
  margin-left: 20px;
}

.profile-card {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-card .profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.profile-card:first-child .profile-pic {
  width: 70px;
  height: 70px;
}

.profile-card .profile-pic img {
  border: none;
}

.profile-card .username {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  text-align: left;
}

.sub-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.action-btn {
  opacity: 1;
  font-weight: 700;
  margin-top: 12px;
}

.suggestion-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .right-col, .search-box {
    display: none;
  }
  .nav-wrapper,
  .wrapper {
    width: 90%;
  }
  .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-items .icon {
    margin: 0 5px;
  }
  .post-image {
    height: 300px;
  }
}

.deletePost {
  width: 260px;
  justify-content: center;
  margin: 20px;
  padding: 1px; 
  background-color: whitesmoke;
  max-height: calc(100% - 40px);
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}

.deletePost-content {
  color: rgba(var(--i30,237,73,86),1);
  font-weight: 700;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  line-height: 45px;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  align-items: flex-start;
  box-sizing: border-box;

}

.deletePost-content:not( :first-child) {
  color: rgba(38, 38, 38);
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgba(var(--b6a,219,219,219),1);
  cursor: pointer;
  line-height: 45px;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  align-items: flex-start;
  box-sizing: border-box;
}

/* post like dropdown */

.like-drop-down {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 423px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  background-color: #ffff;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  right: -1%;
  overflow-y: auto;
  overflow-x: hidden;
}

.timeframe {
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeframe-word-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeframe-word {
  padding: 4px;
  margin-top: 8px;
  margin-left: 8px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  display: flex;
  border: 0 soild #000;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.timeframe-header-text {
  display: block;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.timeframe-content-container {
  padding-bottom: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  padding: 12px 16px 12px;
  position: relative;
  border: 0 solid #000;
  box-sizing: border-box;
}

.timeframe-text {
  color: rgba(var(--i1d,38,38,38),1);
  display: block;
  flex: 1 0 0%;
  line-height: 1.3;
  margin: 0 12px;
  min-width: 0;
  word-wrap: break-word;
  align-items: stretch;
  border: 0 solid #000;
  flex-direction: column;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.timeframe-text-username-container {
  display: inline!important;
  margin: 0!important;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
}

.timeframe-text-username {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  color: rgba(var(--i1d,38,38,38),1);
  text-decoration: none;
}

.timeframe-time {
  font-size: 15px;
  line-height: 18px;
  color: rgba(var(--f52,142,142,142),1);
  margin-left: 5px;
  font-weight: 400;
}

.timeframe-image-outside {
  display: block;
  flex: 0 0 auto;
  min-height: 26px;
  min-width: 40px;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeframe-image-container {
  display: inline-block;
  color: rgba(var(--fe0,0,55,107),1);
  text-decoration: none;
}

.timeframe-image-wrapper {
  background-color: rgba(var(--bb2,239,239,239),1);
  display: block;
  width: 100%;
  height: 40px;
  min-width: 40px;
}

.timeframe-image {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.timeframe-img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
}

.timeframe-profile-container {
  width: 44px;
  height: 44px;
  background-color: rgba(var(--b3f,250,250,250),1);
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.timeframe-profile {
  height: 100%;
  width: 100%;
}

.timeframe-word-container:last-child {
  border-bottom: 1px solid lightgray;
}


/* postLikes box */

@media (min-width: 736px) {
  .likes-box-wrapper {
    width: 400px;
  }
}

.likes-box-wrapper {
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  margin: 20px;
  max-height: calc(100% - 40px);
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.likes-box-container {
  background-color: rgba(var(--f23,255,255,255),1);
  border-radius: 12px;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.likes-box-header-container {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
  flex-direction: row;
  height: 43px;
}

.likes-box-header-left {
  align-items: center;
  display: flex;
  flex: 0 0 48px;
  justify-content: center;
  border: 0 solid #000;
  flex-direction: column;
}

.likes-box-header-mid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  text-align: center;
}

.likes-box-header-right-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 48px;
  justify-content: center;
  border: 0 solid #000;
}

.likes-box-header-right-container {
  display: flex;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  justify-content: center;
  padding: 8px;
  color: rgba(var(--i1d,38,38,38),1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.likes-box-header-right {
  display: block;
  position: relative;
  color: rgb(38, 38, 38);
  fill: rgb(38, 38, 38);
  height: 24;
  width: 24;
  overflow: hidden;
}

.likes-box-content-wrapper {
  max-height: 356px;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border: 0 soild #000;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}

.likes-box-content-container {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.likes-box-content {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
}

.likes-box-item-container {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  position: relative;
}

.likes-box-img-wrapper {
  margin-right: 12px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.likes-box-img-container {
  display: block;
  height: fit-content;
  width: fit-content;
  position: relative;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
}

.likes-box-img-content {
  align-items: center;
  align-self: center;
  flex: none;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.likes-box-img {
  width: 44px;
  height: 44px;
  display: block;
  cursor: pointer;
  background-color: rgba(var(--b3f,250,250,250),1);
  border-radius: 50%;
  box-sizing: border-box;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  color: rgba(var(--fe0,0,55,107),1);
  text-decoration: none;
}

.likes-box-profile-pic {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: rgba(var(--fe0,0,55,107),1);
}

.likes-box-user-container {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  min-width: 0;
  justify-content: center;
  flex-direction: column;
  color: rgba(var(--i1d,38,38,38),1);
  align-content: stretch;
  align-items: stretch;
  position: relative;
}

.likes-box-user-username-wrapper {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.likes-box-user-username-container {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  align-items: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
}

.likes-box-user-username-content {
  display: inline;
  position: relative;
}

.likes-box-user-username {
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 600;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  text-decoration: none;
}

.likes-box-user-fullname-container {
  margin-top: 8px;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.likes-box-user-fullname {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(var(--f52,142,142,142),1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
}

.likes-box-btn-container {
  margin-left: 8px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
}

.likes-box-btn {
  background: 0 0;
  background-color: transparent;
  color: rgba(var(--f75,38,38,38),1);
  border: 1px solid rgba(var(--ca6,219,219,219),1);
  border-radius: 4px;
  position: relative;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  line-height: 18px;
}

@media (min-wdith: 736px) {
  .usershow-top {
    margin-bottom: 44px;
  }
}

.usershow-top {
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
}

